body{
    background-color: white;
}

.Homepage_Description{
    font-weight: bolder;
    font-size: larger;
    color: rgb(0, 0, 0);
    padding-left:  30px;
}

.image{
    float: left;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Title{
    float: right;
}